<header class="header">
    <div class="navigation">
            <ul class="menu">
            </ul>
    </div>

    <ul class="social-links">
       <li class="menu__entry"><a href="{{ '/' | prepend: site.baseurl }}">💻</a></li>
       <li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}">🔍</a></li>
       <li class="menu__entry"><a href="https://github.com/{{ site.author.github }}" target="_blank">💾</a></li>
       <li class="menu__entry"><a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">👻</a></li>
    </ul>
</header>
